.user-title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.job-list {
  margin: 1%;
  padding: 0.7rem;
  background-color: #f9f9f9;
}

.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem auto;
  padding: 1.4rem;
  min-height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
  word-wrap: break-word;
}

.job-detail {
  align-items: center;
  padding: 0 10px;
  text-align: center;
}

.job-detail>h4 {
  color: #1945f5;
  font-size: 1rem;
  text-transform: uppercase;
}

.job-detail>p {
  margin: 0;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.job-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.primary-button,
.cancel-button {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  /* Primary button color */
}

.primary-button:hover {
  background-color: #0056b3;
  transition: 400ms ease-in-out;
}

.cancel-button {
  background-color: #dc3545;
  /* Cancel button color */
}

.cancel-button:hover {
  background-color: #c82333;
  transition: 400ms ease-in-out;
}